<div class="container">
  <h2>Here are some answers for this question:</h2>


  <ul>
    {{#each answers as |answer|}}
       <li>
         <h2><strong>Answer: </strong> {{answer.answer}}</h2>
         <h4>Author: {{answer.author}}</h4>
         <h4>Likes: {{answer.likes}}</h4>
         {{like-answer answer=answer like="like"}}
       </li>
    {{/each}}
  </ul>


  <h3>Here are your favorite answers!</h3>
  <h4>{{display-favorite}}</h4>
</div>
