<h3>"{{model.ask}}" written by {{model.author}}</h3>

{{answer-tile answers=model.answers}}

{{new-answer saveAnswer="saveAnswer" question=model}}

{{update-question question=model update="update"}}

<ul>
  {{#each model as |question|}}
     <li>{{#link-to 'question' question.id}}{{question.ask}}{{question.author}}{{/link-to}}
     </li>
  {{/each}}
</ul>
